 body {
    /*background-color: #282c34;*/
    /*background-image: url("./components/images/darkMode.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    margin: 0;
    padding: 0;
} 
/* @media (max-width:768px) {
  body {
    background-color: #282c34;
    background-image: url("./components/images/background.jpg");
    background-repeat: no-repeat;
    background-size:700px 1000px;
    color:white;
    margin: 0;
    padding: 0;
}
} */